<p-card>
  <tsm-table
    class="card-body"
    [loading]="controller()?.loading() ?? false"
    [items]="users()"
    [track]="trackBy"
    [page]="page()"
    [limit]="limit()"
    [search]="search()"
    [count]="count()"
    [displayTextTemplates]="{
      one: 'Showing the only one user',
      many: 'Showing {first} - {last} of {totalRecords} users'
    }"
    (stateChange)="controller()?.onChange($event)"
  >
    <ng-template #header>
      <tr>
        <th>Name</th>
      </tr>
    </ng-template>
    <ng-template #body let-user>
      <tr>
        <td>{{ user?.name }}</td>
      </tr>
    </ng-template>
  </tsm-table>
</p-card>
