<p-table 
  [loading]="loading()"
  [value]="items()" 
  [dataKey]="this.dataKey()"
  [rowTrackBy]="this.trackBy()"
>
  <ng-template #caption>
    <form (submit)="handleSearch($event)">
      <p-float-label variant="on">
        <input pInputText type="text" id="search" name="search" [value]="search()">
        <label for="search">Search</label>
      </p-float-label>
      <button type="submit" class="hidden">Search</button>
    </form>
  </ng-template>

  <ng-template #body let-item>
    <ng-container
      [ngTemplateOutlet]="bodyRef()"
      [ngTemplateOutletContext]="{ $implicit: item }"
    ></ng-container>
  </ng-template>

  <ng-template #summary>
    <p-paginator 
      showCurrentPageReport
      [ariaDisabled]="loading()"
      [first]="first()"
      [totalRecords]="count()"
      [rows]="limit()"
      [rowsPerPageOptions]="[5, 10, 20]"
      [currentPageReportTemplate]="displayTextTemplate()"
      (onPageChange)="handlePageChange($event)"
    ></p-paginator>
  </ng-template>
</p-table>


